<div id="action_row_1">
	<a ng-click="changeMood('green')"><img border="0" src="img/action_btn/action_btn_green.png" height="72" width="72"/></a>
	<a ng-click="changeMood('yellow')"><img border="0" src="img/action_btn/action_btn_yellow.png" height="72" width="72"/></a>
	<a ng-click="changeMood('orange')"><img border="0" src="img/action_btn/action_btn_orange.png" height="72" width="72"/></a>
	<a ng-click="changeMood('red')"><img border="0" src="img/action_btn/action_btn_red.png" height="72" width="72"/></a>
</div>

<div id="action_row_2">
	<a ng-click="changeNeed('break')"><img border="0" src="img/action_btn/action_btn_break.png" height="72" width="72"/></a>
	<a ng-click="changeNeed('food')"><img border="0" src="img/action_btn/action_btn_food.png" height="72" width="72"/></a>
	<a ng-click="changeNeed('wc')"><img border="0" src="img/action_btn/action_btn_wc.png" height="72" width="72"/></a>
	<a ng-click="changeNeed('angry')"><img border="0" src="img/action_btn/action_btn_angry.png" height="72" width="72"/></a>
</div>
