<form ng-submit="submitanswer()"> 
	<h1>{{questionText}}</h1> 
	<input class="meeting_form" ng-model="answer" ng-required="true" placeholder="Enter an answer here"/>
	<br/><br/>
	<div id="bell_btn"><input type="image" src="http://labs.zanox.com:8080/james/img/big_bell_btn.png" ng-disabled="button"></div>
</form>
<div id="back_btn" ng-show="showBackButton">
	<a ng-click="back()"><img border="0" src="http://labs.zanox.com:8080/james/img/back_btn.png" /></a>
	<div id="a4u" style="position:absolute;bottom:5px;right:5px;"><img border="0" src="http://labs.zanox.com:8080/james/img/a4u_logo.png"/></div>
</div>

