body{
    background: #fff;
    font-size:14px;
    font-family: Arial;
	color:#444;
	margin:0 auto;
}

h1{
    padding: 0;
    margin: 0 auto;  
}
p {
	margin-top:15px;
	font-weight:bold;
}
.meeting_form{
	-moz-border-radius:5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px; 
	border: 3px solid #ed9e66;
	background-color:#666;
	padding:5px;
	width:950px;
	height:50px;
	font-size:24px;
	color:white;
	text-align:left;
	margin:0 auto;
}
blockquote{
    float:right;    
}

h1{
    font-size:40px; 
    color: #444;
	margin-top:20px;
}


#messages{
	font-size:14px;
	color:#ff9900;
	font-weight:bold;
	width:920px;
	background-color:#3d3d3d;
	-moz-border-radius:5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px; 
	padding-left:5px;
	margin:0 auto;
}
#success{
	width:460px;
	margin:0 auto;
	font-size:28px;
	font-weight:bold;
	color:#fff;
}

/* Content */

#main{
    margin:0 auto;
	width:950px;

}
#sub_content{
	width:100%;
	height:auto;
	margin:0 auto;
	text-align:center;
}
#header{
    background-image:url("../img/zanox_james.png");
    width:400px;
    height:158px;
	background-repeat:no-repeat;
    margin: 0;
}

#content{
	height:auto;
	width:100%;
}
#back_btn{
	padding:25px 0 0 0;
	margin:0;
}
#footer_img{
	background-image:url("../img/a4u_logo.png");
    width:300px;
    height:78px;
    margin-bottom:0;
}
#bell_btn{
	width:150px;
	height:50px;
	padding:15px 0 0 0;
	margin:0 auto;
	}
.clear{
    clear:both; 
}